@using GeographyCore.ViewModels.StreetModels
@model AddStreetViewModel


@{
    ViewBag.Title = "Add Street";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Cities.Count() == 0)
{
    <h3>Can Not add a Street. There are no Cities in our Database!
        Please add a City first</h3>
}
else
{

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.CityId" class="form-label">City</label>
                <select asp-for="@Model.CityId" class="form-control">
                    @foreach (var street in Model.Cities)
                    {
                        <option value="@street.Id">@street.Name</option>
                    }
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Street Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="@Model.Length" class="form-label">Length</label>
                <input asp-for="@Model.Length" class="form-control" aria-required="true" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}