@using GeographyCore.ViewModels.CityModels
@model List<AddNewCityModel>
@{
    ViewBag.Title = "All Cities";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Cities" asp-action="Add"><h5>Add new City</h5></a>
</div>

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="text-center row">
    @foreach (var city in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@city.LandscapePicture" alt="Flag">
            <div class="card-body">

                <h5 class="card-title mt-1"> @city.Name</h5>
                <p class="mb-0">Population: @city.Population</p>
                <p class="mb-0">Land: @city.Area</p>
                <p>Country: @city.Country</p>
                <form class="input-group-sm" asp-route-cityName="@city.Name" asp-controller="Cities" asp-action="VisitCity" method="post">
                <input type="submit" value="Visited this City" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            </div>
        </div>
    }
</div>