@model List<AddNewCityModel>

@{
    ViewBag.Title = "All Visited Cities";
}

<div class="text-center row">
    <h4>@ViewBag.Title</h4>
    @foreach (var city in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@city.LandscapePicture" alt="Flag">
            <div class="card-body">

                <h5 class="card-title mt-1"> @city.Name</h5>
                <p class="mb-0">Population: @city.Population</p>
                <p class="mb-0">Land: @city.Area</p>
                <p>Country: @city.Country</p>
            </div>
        </div>
    }
</div>