@using GeographyCore.ViewModels.CountryModels
@model List<ShowCountriesModel>

@{
    ViewBag.Title = "All Countries";
}

@if (this.User.IsInRole("Admin"))
{

    <div class="text-center">
        <a class="navbar-brand" asp-area="" asp-controller="Countries" asp-action="AddCountry"><h5>Add new Country</h5></a>
    </div>
}
<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>


<div class="text-center row">
    @foreach (var country in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@country.Flag" alt="Flag">
            <div class="card-body">

                <form class="input-group-sm" asp-route-countryName="@country.Name" asp-controller="Cities" asp-action="AllInGivenCountry" method="post">
                    <input type="submit" value="@country.Name" class="fs-6 btn btn-danger mb-3 p-2" />
                </form>
                <p class="mb-0">Population: @country.Population</p>
                <p class="mb-0">Land: @country.Area</p>
                <p>Continent: @country.Continent</p>
                <form class="input-group-sm" asp-route-location="@country.GoogleMapsUrl" asp-controller="Countries" asp-action="CountryLocation" method="post">
                    <input type="submit" value="Link to Google Maps" autocomplete="" class="fs-6 btn btn-primary mb-3 p-2" />
                </form>
                <form class="input-group-sm" asp-route-countryName="@country.Name" asp-controller="Countries" asp-action="VisitCountry" method="post">
                    <input type="submit" value="Visited this Country" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            </div>
        </div>
    }
</div>