@model AddRiverViewModel


@{
    ViewBag.Title = "Add River";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name of the River</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Length" class="form-label">Length</label>
                <input asp-for="@Model.Length" class="form-control" aria-required="true" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ContinentId" class="form-label">Continent</label>
                <select asp-for="@Model.ContinentId" class="form-control">
                    @foreach (var cont in Model.Continents)
                    {
                        <option value="@cont.Id">@cont.Name</option>
                    }
                </select>
                <span asp-validation-for="ContinentId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CountryId" class="form-label">Country</label>
                <select asp-for="@Model.CountryId" class="form-control">
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}