@model List<AddRiverViewModel>

@{
    ViewBag.Title = "All Visited Rivers";
}

<div class="text-center row">
    <h4>@ViewBag.Title</h4>
    @foreach (var river in Model)
    {
        <div class="card-body">
            <h5 class="card-title mt-1">@river.Name</h5>
            <p class="mb-0">Length: @river.Length</p>
            <p>Continent: @river.Continent</p>
            <p>Country of origin: @river.Country</p>
        </div>
    }
</div>